/* @import url('https://fonts.google.com/noto/specimen/Noto+Serif+Display') */


body {
  margin: 0;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-family: arial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  text-align: center;
  border: none;
  padding: 30px;
  width: 80%;
  height: 50%;
  display: inline-grid;
  margin: 8rem;
  
}

nav {
  top: 0;
}

canvas.react-pdf__Page__canvas {
  display: inline-block !important;
}

.card {
  width: 10rem;
  height: 30rem;
  display: inline-grid;
}


#blog {
  box-shadow: 7px 10px 10px 1px rgb(207, 201, 201);
}

#blog:hover{
  border: 1px solid rgb(160, 151, 151);
  box-shadow: 7px 10px 7px 1px rgb(207, 201, 201);
}

#project {
  box-shadow: 7px 10px 10px 1px rgb(184, 167, 167);
}

#project:hover{
  border: 1px solid rgb(199, 161, 161);
  box-shadow: 7px 10px 7px 1px rgb(184, 167, 167);
}

.parallax {
  /* The image used */
  background-image: url("gray.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}