@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Inter&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Inter&family=Playfair+Display:wght@500&family=Smokum&display=swap');



body {
  margin: 0;
  font-family:'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Smokum', cursive;
  font-size: 85px !important;
}



h2{
  font-family:'Inter', sans-serif;
}


.container {
  font-family: 'Inter', sans-serif;
  text-align: center;
  border: none;
  width: 100%;
  margin: 8rem; 
}

.header {
  padding: 100px;
  text-align: center;
  margin: 0px;
}

nav {
  position: relative;
  margin: 0;
  padding-top: 0px;
  top: 0;
}

canvas.react-pdf__Page__canvas {
  display: inline-block !important;
}

div.profile-badge{
  display: inline-block !important;
}

.card {
  height: 100%;
  display: grid;
}

.card-link {
  font-size: 35px;
  line-height: 55px;
  transition: 0.6s;
  color: #000;
}


#blog {
  box-shadow: 7px 10px 10px 1px rgb(184, 167, 167);
  margin: 10px;
}

#blog:hover{
  border: 1px solid rgb(199, 161, 161);
  box-shadow: 7px 10px 7px 1px rgb(184, 167, 167);
  transform: translate(0, -10px);
  cursor: pointer;
}

#project {
  box-shadow: 7px 10px 10px 1px rgb(184, 167, 167);
}

#project:hover{
  border: 1px solid rgb(199, 161, 161);
  box-shadow: 7px 10px 7px 1px rgb(184, 167, 167);
  
}

.parallax {
  /* The image used */
 

  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa-brands {
  font-size: 50px;
  padding: 8px;
  line-height: 55px;
  transition: 0.6s;
  color: #000;
}

.fa-download {
  font-size: 25px;
  padding: 8px;
  line-height: 55px;
  transition: 0.6s;
  color: #000;
}

.fa-download:hover{
  color: blue;
}

.fa-brands:hover {
  transform: rotate(10deg) translateX(7px);
}


li {
  list-style: none;
}

ul {
  text-align: center;
  padding: 0px !important;
}

.social-menu{
  text-align: center;
}

.social-menu ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
  float: left;
}

.social-menu ul li .fa{
  font-size: 30px;
  line-height: 55px;
  transition: 0.6s;
  color: #000;
}

.social-menu ul li a{

  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 0px 12px 3px  rgba(184, 167, 167)
}

.social-menu ul li a:hover{
  cursor: pointer; 
  transform: translate(0, -10px);
}


.card#skillset {
  box-shadow: 0 0px 12px 0px rgb(207, 187, 187);
  
}

.card#skillset:hover{
  transform: translate(0, -10px);
}

.page-footer{
  bottom: 0;
}




.gr_custom_container_1644441485 {
  /* customize your Goodreads widget container here*/
  border: 1px solid gray;
  border-radius:10px;
  padding: 10px 5px 10px 5px;
  background-color: #FFFFFF;
  color: #000000;
  width: 400px
}
.gr_custom_header_1644441485 {
  /* customize your Goodreads header here*/
  border-bottom: 1px solid gray;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-size: 120%
}
.gr_custom_each_container_1644441485 {
  /* customize each individual book container here */
  width: 100%;
  clear: both;
  margin-bottom: 7px;
  overflow: auto;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1644441485 {
  /* customize your book covers here */
    overflow: hidden;
    height: 60px;
    float: left;
    margin-right: 4px;
    width: 39px;
}
.gr_custom_author_1644441485 {
  /* customize your author names here */
  font-size: 16px;
  text-align: center;
}
