@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Inter&family=Playfair+Display:wght@500&display=swap');


body {
  margin: 0;
  font-family:'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h2{
  font-family:'Inter', sans-serif;
}



.container {
  font-family: 'Inter', sans-serif;
  text-align: center;
  border: none;
  width: 100%;

  margin: 8rem; 
}

.header {
  padding: 100px;
  text-align: center;
  margin: 0px;

}

nav {
  position: relative;
  margin: 0;
  padding-top: 0px;
  top: 0;
}

canvas.react-pdf__Page__canvas {
  display: inline-block !important;
}

div.profile-badge{
  display: inline-block !important;
}

.card {
  height: 100%;
  display: grid;
  
}

.card-link {
  font-size: 35px;
  line-height: 55px;
  transition: 0.6s;
  color: #000;
}




#blog {
  box-shadow: 7px 10px 10px 1px rgb(184, 167, 167);
  margin: 10px;
}

#blog:hover{
  border: 1px solid rgb(199, 161, 161);
  box-shadow: 7px 10px 7px 1px rgb(184, 167, 167);
  transform: translate(0, -10px);
}

#project {
  box-shadow: 7px 10px 10px 1px rgb(184, 167, 167);
}

#project:hover{
  border: 1px solid rgb(199, 161, 161);
  box-shadow: 7px 10px 7px 1px rgb(184, 167, 167);
}

.parallax {
  /* The image used */
  background-image: url("./images/gray.jpg");

  /* Set a specific height */
  min-height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



li {
  list-style: none;
}

ul {
  text-align: center;
  padding: 0px !important;
}

.social-menu{
  text-align: center;
}

.social-menu ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.social-menu ul li {
  list-style: none;
  margin: 0 15px;
  float: left;
}

.social-menu ul li .fa{
  font-size: 30px;
  line-height: 55px;
  transition: 0.6s;
  color: #000;
}

.social-menu ul li a{

  display: block;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #fff;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 0px 12px 3px  rgba(184, 167, 167)
}

.social-menu ul li a:hover{
  cursor: pointer; 
  transform: translate(0, -10px);
}


.card#skillset {
  box-shadow: 0 0px 12px 0px rgb(207, 187, 187);
  height: 125%;
  width: 89% !important;
}

.card#skillset:hover{
  transform: translate(0, -10px);
}

.page-footer{
  bottom: 0;
}




